body{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: rgb(248, 248, 248) !important;
}

p{
   margin: 0 !important;
   padding: 0 !important;
}

a:link {
   text-decoration: none;
   color:white;
}

a:visited {
   color:white;
   text-decoration: none;
}

a:hover {
   color:white;
   text-decoration: none;
}

a:active {
   color:white;
   text-decoration: none;
}


header{
   background-color: rgb(0, 132, 255);
   color: white;
   display: flex !important;
   align-items: center !important;
   justify-content: center!important;
   height: 4em;
   font-size: 3em;
}

nav{
   background-color: rgb(0, 64, 124);
   color: white;
   height: 3em;
   font-size: 1.1em;
   font-weight: 600;
   display: flex !important;
   align-items: center !important;
   padding: 1em !important;
}

nav .col-md{
   margin: 0 !important;
   cursor: pointer;
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
}

nav .col-md:hover{
   color: rgb(190, 190, 190);
}

.body {
   display: flex !important;
   justify-content: center !important;
   align-items: flex-start;
   margin-bottom: 3em !important;
}

section{
   width: 75% !important;
   background-color: white;
   box-shadow: 0 0 1em rgb(173, 173, 173);
   border-radius: 1em;
   padding: 2em;
   margin-top: 1em !important;
}

.bodyHeader{
   width: 100%;
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
   font-size: 1.5em;
   font-weight: 600;
}

.bodyContent{
   margin-top: 2em !important;
}

footer{
   width: 100%;
   background-color: rgb(0, 132, 255);
   height: 3em;
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
   color: white;
   font-weight: 600;
}
.aboutTitle{
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
   font-size: 1.4em;
   font-style: italic;
   margin-bottom: 2em;
}

.productImage{
   max-height: 20em !important;
}

.containerImage{
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
   flex-direction: column;
}